@import '~@csstools/normalize.css';

/*     */
/*reset*/
/*     */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

address {
  font-style: normal;
}

* {
  box-sizing: border-box;
}

/*         */
/*variables*/
/*         */

:root {
  /*main colors*/
  --background: #fff;
  --button: #e44848;
  --active-button: #d84343;
  --main: #101828;
  --inputs: #f7f7f7;
  --block-features: #f2f4f7;
  --rating: #ffc531;
  --text: #475467;
  --modal-backdrop: rgba(17, 18, 19, 0.4);
  /*border colors*/
  --card-border-color: #10182833;
  /*font families*/
  --font-family: 'Inter', sans-serif;
}

/*           */
/*base styles*/
/*           */

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family);
  color: var(--text);
  background-color: var(--background);
}

h1,
h2,
h3 {
  color: var(--main);
}

img {
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
